# file: tasks/common.yml

---
- name: common | rpm --import rpm_keys
  rpm_key: key={{ item }} state=present
  with_items: base_centos.common.rpm_keys

- name: common | rpm -i rpm_packages
  yum: name={{ item }} state=present
  with_items: base_centos.common.rpm_packages

- name: common | yum-config-manager --add-repo yum_repositories
  command: "yum-config-manager --add-repo {{ item }}"
  with_items: base_centos.common.yum_repositories

- name: common | yum install yum_packages
  yum: pkg={{ item }} state=present
  with_items: base_centos.common.yum_packages

# source packages --------------------------------------------------------- {{{
# - name: common | curl source_packages.bin
#   shell: "curl {{ item.src }} creates={{ item.tmp_bin }}"
#   with_items: base_centos.common.source_packages.bin

- name: common | git clone source_packages.git
  git: repo={{ item.src }} dest={{ item.directory }}
  with_items: base_centos.common.source_packages.git

- name: common | curl source_packages.tar
  shell: "curl {{ item.src }} | tar xz chdir=/tmp creates={{ item.directory }}"
  with_items: base_centos.common.source_packages.tar

# - name: common | create binaries
#   shell: "cp {{ item.tmp_bin }} {{ item.bin }} creates={{ item.bin }}"
#   with_items: base_centos.common.source_packages.bin

- name: common | ./configure source_packages.git
  command: "{{ item.configure_command }} chdir={{ item.directory }} creates={{ item.configure_creates }}"
  with_items: base_centos.common.source_packages.git

- name: common | ./configure source_packages.tar
  command: "{{ item.configure_command }} chdir={{ item.directory }} creates={{ item.configure_creates }}"
  with_items: base_centos.common.source_packages.tar

- name: common | make source_packages.git
  command: "{{ item.make_command }} chdir={{ item.directory }} creates={{ item.make_creates }}"
  with_items: base_centos.common.source_packages.git

- name: common | make source_packages.tar
  command: "{{ item.make_command }} chdir={{ item.directory }} creates={{ item.make_creates }}"
  with_items: base_centos.common.source_packages.tar

- name: common | make install source_packages.git
  command: "{{ item.make_install_command }} chdir={{ item.directory }} creates={{ item.make_install_creates }}"
  with_items: base_centos.common.source_packages.git

- name: common | make install source_packages.tar
  command: "{{ item.make_install_command }} chdir={{ item.directory }} creates={{ item.make_install_creates }}"
  with_items: base_centos.common.source_packages.tar
# /source packages -------------------------------------------------------- }}}

# python packages --------------------------------------------------------- {{{
- name: common | easy_install pip
  easy_install: name=pip

- name: common | pip install python_packages.requirements
  pip: name={{ item }} state=present
  with_items: base_centos.python_packages.requirements
# /python packages -------------------------------------------------------- }}}

# ruby gems --------------------------------------------------------------- {{{
- name: common | gem install bundler
  command: /usr/local/bin/gem install bundler creates=/usr/local/bin/bundle
# /ruby gems -------------------------------------------------------------- }}}
